<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="noAuth-ai-intWebAssembly-e.styles.css" />
    <HeadOutlet @rendermode="@RenderMode.InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="@RenderMode.InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
